@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title {
    @apply text-5xl lg:text-7xl font-black;
  }
}
.badge-community {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

.badge-offseason {
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
}

.badge-season {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.badge-information {
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

.badge-robots {
  background-image: radial-gradient(
    circle farthest-corner at 10.2% 55.8%,
    rgba(252, 37, 103, 1) 0%,
    rgba(250, 38, 151, 1) 46.2%,
    rgba(186, 8, 181, 1) 90.1%
  );
}

.email-button {
  background: linear-gradient(135deg, #4b8dd2 0%, #1f2e7a 100%);
}

.email-button:hover {
  transition: all 1s ease-in;
  background: linear-gradient(45deg, #2d537b 0%, #0f1638 100%);
}
